@import "variables.scss";

.header {
  text-align: center;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  color: $color-secondary;
  opacity: 0.5;
  margin-top: $size-large;
}
