@import "variables.scss";

.widget {
  padding: $size-large;
  margin: $size-large;

  @media screen and (max-width: 1200px) {
    margin-bottom: 100px;
  }

  &.clock {
    position: relative;
    width: $clock-size;
    height: $clock-size;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: $color-tertiary;

    @media screen and (max-width: 768px) {
      width: $clock-size--mobile;
      height: $clock-size--mobile;
    }

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: $clock-weight solid $color-secondary;
      border-radius: 100%;
      box-sizing: border-box;
    }

    .shadow {
      content: '';
      width: 100%;
      height: 500px;
      position: absolute;
      top: 50%;
      left: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
      transform: rotate(-45deg);
      transform-origin: 50% 0%;
      opacity: 0.3;
      z-index: -1;
    }

    .hand {
      height: $clock-weight;
      position: absolute;
      top: ($clock-size - $clock-weight) / 2;
      background-color: $color-secondary;
      border-radius: 100% 0% 0% 100%;
      transform-origin: right ($clock-weight / 2);
      transition: all 0.05s cubic-bezier(0, 0, 0.52, 2.51) 0s;

      @media screen and (max-width: 768px) {
        height: $clock-weight--mobile;
        top: ($clock-size--mobile - $clock-weight--mobile) / 2;
        transform-origin: right ($clock-weight--mobile / 2);
      }

      &.seconds {
        width: 50 - (100 - $clock-seconds-length);
        left: 100 - $clock-seconds-length;
        opacity: 0.25;
      }

      &.minutes {
        width: 50 - (100 - $clock-minutes-length);
        left: 100 - $clock-minutes-length;
        opacity: 0.5;
      }

      &.hours {
        width: 50 - (100 - $clock-hours-length);
        left: 100 - $clock-hours-length;
        opacity: 0.75;
      }
    }

    .hand-cap {
      width: 5%;
      height: 5%;
      position: absolute;
      top: 47.5%;
      left: 47.5%;
      background-color: $color-secondary;
      border-radius: 100%;
    }
  }
}

label {
  display: block;
  width: 100%;
  position: absolute;
  top: -$size-base * 3;
  left: 0;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  color: $color-secondary;
  opacity: 0.5;
}
