@import "variables.scss";

.footer {
  margin-bottom: $size-large;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  .button {
    margin-left: $size-large;

    @media screen and (max-width: 768px) {
      width: 100%;
      margin-top: $size-large;
      margin-left: 0;
    }
  }
}
