$color-primary: #673AB7;

body {
  background-color: $color-primary;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1200px) {
    flex-wrap: wrap;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media screen and (max-width: 1200px) {
    min-height: auto;
    overflow: hidden;
  }

  // overflow-x: hidden;
}

.page-wrapper,
.footer {
  max-width: none;
  min-width: 0;
  width: 100%;
  overflow-x: hidden;
}

.page-body {
  flex: 1;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px;
}

html, body {
  height: auto;

  // max-width: 100%;
}
